
/**
* avik-support.css
* @link https://www.denisfranchi.com
*
* @package Avik
* @version   1.3.5
*/

/* TABLE OF CONTENT

1 - Logo
2 - Text Header
3 - Tab
4 - Welkome
5 - Guides
6 - Pro Version
7 - Support
8 - Button
9 - Comparison

*/

/* ------------------------------------------------------------------------- *
##  1 Logo */
/* ------------------------------------------------------------------------- */

.logo-support{
  padding-top: 2em;
  padding-left: 2em;
}

/* ------------------------------------------------------------------------- *
##  2 Text header */
/* ------------------------------------------------------------------------- */


.text-support{
  text-align:center;
  padding-top: 8em;
  line-height: 1;
}

.text-support h1{
  color: #fff;
  font-size: 42px;
}

.text-support h5{
  color: #fff;
  letter-spacing: 3px;
  font-size: 27px;
  font-weight: 200;
}

.logo-support h1,.logo-support h2{
  color:#d5f83e;
  font-size: 18px;
}

.avik-image-background-support{
  height:450px;
}

h3.avik-welkome-support-title {
  font-size: 32px;
  letter-spacing: 3px;
}

p.avik-welkome-support {
  font-size:22px;
  letter-spacing: 1px;
}


/* ------------------------------------------------------------------------- *
##  3 Tab */
/* ------------------------------------------------------------------------- */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #33373c;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color:#fff;
}

.tab button:hover {
  background-color: #000!important;
}

.tab button.active {
  background-color: #000;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 450px;
}

.tabcontent {
  animation: fadeEffect 2s; /* Fading effect takes 2 second */
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.avik-tab-support{
  margin :2em;
  max-width: 100%;
}

/* ------------------------------------------------------------------------- *
##  4 Welkome */
/* ------------------------------------------------------------------------- */

#WELCOME i{
  padding-top: 0.5em;
  float: right;
  color:#000;
}

#WELCOME a{
  text-decoration: none;
}

/* ------------------------------------------------------------------------- *
##  5 Guides */
/* ------------------------------------------------------------------------- */

#GUIDES i{
  padding-top: 0.5em;
  float: right;
  color:#000;
}

.avik-clear-guide-support-admin {
  clear: left;
}

.avik-guide{
  height: 250px;
  background-color: rgba(144, 166, 173, 0.19);
  margin: 1%;
  position: relative;
}

.avik-guide h2,.avik-guide p{
  padding:0.5em;
}

button.avik-button-guide-admin-support{
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

button.avik-button-guide-admin-support:hover{
  color:#d5f83e;
  background-color: #000;
}

.avik-guide i{
  padding-top: 0.5em;
  padding-right: 0.5em;
  color:#d5f83e;
}

.avik-guide-support-admin div{
  float: left;
  width: 23%;
}

/* ------------------------------------------------------------------------- *
##  6 Pro Version */
/* ------------------------------------------------------------------------- */

img.avik-pro-support-img{
  float: right;
  padding-right: 1em;
  padding-top: 2.2em;
}

ul.avik-ul-support{
  list-style-type: square;
  padding-left: 2em;
}

.avik-ul-support li{
  font-size: 16px;
}


/* ------------------------------------------------------------------------- *
##  7 Support */
/* ------------------------------------------------------------------------- */

#SUPPORT i{
  padding-top: 0.5em;
  float: right;
  color:#000;
}

#SUPPORT a{
  text-decoration: none;
}

/* ------------------------------------------------------------------------- *
##  8 Button */
/* ------------------------------------------------------------------------- */


button.avik-button-admin-support{
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ccc;

}

button.avik-button-admin-support:hover{
  background-color: grey;
}

button.avik-button-admin-support:hover a.avik-button{
color: #fff;
}

a.avik-button{
  color: #666;
  text-decoration: none;
  font-size: 20px;
}



.avik-welkome-support a{
  text-decoration: none;
  color: #666;
  font-size: 20px;
}

a.avik-link-pro-version{
  color: #000;
  font-weight: 600;
}

.avik-button-admin-support.avik-padding-button-pro{
  margin-left: 2.1em;
}

/* ------------------------------------------------------------------------- *
##  9 Comparison */
/* ------------------------------------------------------------------------- */

.avik-guide-support-admin-comparison{
  padding-top: 1em;
}

.comparison {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  font: 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

.comparison td,
.comparison th {
  border-right: 1px solid #E8E8E8;
  empty-cells: show;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  color: #808080;
  font-size: 15px;
}

.comparison tbody tr:nth-child(odd) {
  display: none;
}

.comparison .compare-row {
  background: #F7F7F7;
}

.fa-check {
  color: #00a651;
}

.comparison th {
  font-weight: normal;
  padding: 0;
  border-top: 0px solid #E8E8E8;
  border-bottom: 0px solid #E8E8E8;
}

.comparison tr td:first-child {
  text-align: left;
  padding: 15px;
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
}

.comparison .product,
.comparison .tl {
  color: #FFF;
  padding: 10px;
  font-size: 14px;
}

.comparison .tl2 {
  border-right: 0;
}

.comparison .product {
  background: #00a651;
  height: 40px;
  font-size: 1.6em;
}

.comparison .price-info {
  padding: 15px;
}

.comparison .price-now,
.comparison .price-now span {
  color: #808080;
}

.comparison .price-now span {
  font-size: 20px;
  color: #545454;
}

.comparison .price-now p {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  display: inline;
}

.avik-no-button-free{
  padding: 10px 20px;
  margin: 5px 0 10px 0;
  width: 60px;
}

i.avik-icon-free{
  color: #EC671A;
}

.comparison .price-buy {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  color: #666;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.comparison .price-buy:hover {
  color:#fff;
  background-color: gray;
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .table_ul li {
    letter-spacing: 0px;
  }
  .comparison .price-now span {
    font-size: 32px;
  }
  .comparison .price-now p {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .table_ul {
    padding: 0px;
  }
  .table_ul li {
    font-size: 10px;
    line-height: 16px;
    padding: 3px 0;
  }
  .comparison {
    max-width: 100%;
  }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #F7F7F7;
  }
  .comparison .row {
    background: #FFF;
  }
  .comparison td,
  .comparison th {
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px;
  }
  .price-info {
    border-top: 0 !important;
    padding: 10px 0 !important;
  }
  .price-info p {
    line-height: 8px;
    font-size: 8px !important;
  }
  .comparison .compare-row {
    background: #ffffff;
  }
  .comparison .price-now p {
    display: block;
  }
  .comparison .price-now span {
    font-size: 18px;
  }
  .comparison .qbse {
    font-size: 1.2em;
  }
  .comparison td {
    font-size: 14px;
  }
  .comparison th {
    font-size: 14px;
  }
}

.avik-update{
  position: absolute;
  right: 5em;
  bottom: 10em;
}

.avik-update p{
  font-size: 18px;
}
